header{
    display: flex;
    height: 70px;
    background-color: grey;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin: 0; border-radius: 15px;
    position: sticky; top: 0;
    z-index: 1000;
}
.logo{
    display: flex;
    padding-left: 5px;
    text-decoration: none;
    color: rgb(82, 199, 199);
}
.logo h2{
    padding-left: 30px;
}
.logo img{
    background-color: white;
    height: 50px; padding-right: 2px;
    padding-top: 4px;
    border: 5px solid darkcyan; border-radius: 30px;
}
nav{
    padding-top: 13%; padding-left: 3px;
}
nav a{
    justify-content: space-between 5px;
    background-color: whitesmoke;
    border: 3px solid darkcyan; border-radius: 10px;
    padding: 2px; padding-right: 5px;
    text-decoration: none;
    color: rgb(15, 97, 97);
}
nav a:hover{
    color: white;
}
.slider-box{
    border-radius: 30px;
    height: 750px;
    width: auto;
    margin: 0px auto 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out
}
.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}
.texto{
    background-color: white;
    position: absolute;
    text-align:left;
    padding: 0 250px;
    padding-left: 50px;
    padding-bottom: 10px;
    top: 250px;
    color: rgb(30, 7, 73);
}
.texto h2{
    font-size: 45px;
    margin-bottom: 35px;
}
.texto p{
    text-align: left;
}
.slider-box img{
    width: 100%;
}
@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
    0%{margin-right: 30%;}
    20%{margin-right: 30%;}

    25%{margin-left: -135%;}
    45%{margin-left: -135%;}

    50%{margin-left: -270%;}
    70%{margin-left: -270%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
body{
    margin: 5px;
    background-color: black;
    color: black;
}
main{
    text-align: center;
}
html,main{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
header a:hover{
    color: white;
}
.Inicio{
    padding: 100px;
    background-color: rgb(156, 10, 10);
}
.Calculadora{
    padding: 100px;
    background-color: bisque;
}
.Creditos{
    padding: 100px;
    background-color: beige;
}