<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Base_del_backend.Properties.Settings.cn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GenshinCalculator;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>