/*barra de navegacion*/
header{
    display: flex;
    height: 70px;

    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin: 0; border-radius: 15px;
    position: sticky; top: 0;
    z-index: 1000;
}
.logo{
    display: flex;
    padding-left: 5px;
    text-decoration: none;
    color: rgb(82, 199, 199);
}
.logo h2{
    padding-left: 30px;
}
.logo img{
    background-color: white;
    height: 50px; padding-right: 2px;
    padding-top: 4px;
    border: 5px solid darkcyan; border-radius: 30px;
}
nav{
    margin-top: 25px;
    border: 3px solid darkcyan; border-radius: 10px;
    background: transparent;
}
nav a{
    justify-content: space-between 5px;
    padding: 2px; padding-right: 5px;
    text-decoration: none;
    color: rgb(15, 97, 97);
}
nav a:hover{
      background-color: black; 
      border-radius: 9px; 
      color: white;
}
/*carrusel de imagenes*/
.slider-box{
    border-radius: 30px;
    height: auto;
    width: 1280;
    margin: 0px 5% 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 15s infinite alternate ease-in-out
}
.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}
.texto{
    position: absolute;
    margin-right: 50%;
    padding-right: 25%;
    padding: 0 150px;
    top: 0%;
    color: white;
}
.texto h2{
        text-align: center;
        font-size: 15px;
        margin: 25%;
        margin-bottom: 35px;
}
.texto p{
        text-align: center;
        margin-bottom: 105px;
}
.slider-box img{
    width: 100%;
    mask-image: linear-gradient(to left, black 60%, transparent)
}
@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    30%{margin-left: -100%;}
    70%{margin-left: -100%;}

    80%{margin-left: -200%;}
    100%{margin-left: -200%;}
}
/*secciones*/
body{
    margin: 5px;
    background-color: black;
    color: black;
}
main{
    text-align: center;
}
html,main{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
header a:hover{
    color: white;
}
.Calculadora{
    background-color: white;
    padding: 200px;
    text-align: center;
}
.Acceso{
    color: white;
    text-decoration: none;
    border-style: solid;
    background-color: blue;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    top: 100%;
}
.Acceso:hover{
    background-color: rgba(0, 0, 255, 0.418);
}
#Calculadora_2{
    display: block;
        padding: 200px;
    background-color: bisque;
    display: flex;
}
/*
#Calculadora_2.visible{

}
*/
.lista-personajes{
    padding: 100px;
    border: 5px solid black;
    display: block;
}
.main-character{
    border: 5px solid black;
    padding: 50px, 100px;  
}
.Creditos{
    padding: 100px;
    background-color: beige;
}
/*important part*/
.lista_personajes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0; 
}
.lista_personajes img{
    height: 50px;
}
.personajes_ciclos img{
    height: 50px;
    gap: 20px;
    padding: 0;
}
/*navegacion entre paginas*/
@view-transition{
    navigation; auto;
}

::view-transition-group(page-content){
    animation-duration: 30s;
    animation-timing-function: ease;
}

::view-transition-old(page-content){
    animation-name: slide-out;
}

::view-transition-new(page-content){
    animation-name: slide-in;
}
@keyframes slide-out {
    to{
        translate: -100vw;
    }
}
@keyframes slide-in{
    to {
        translate: 100vw;

    }
}